@use "../../styles/mixins" as *;

.hero {
  padding: 8rem 1.5rem 5rem;

  h1 {
    font-size: 3rem;
  }

  p {
    max-width: 600px;
    color: var(--muted);
  }

  @include respond(md) {
    h1 {
      font-size: 2.2rem;
    }
  }
}
