@use "../../styles/mixins" as *;

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;

  @include respond(lg) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include respond(sm) {
    grid-template-columns: 1fr;
  }
}
