@use "variables" as *;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, system-ui, sans-serif;
  background: $bg-dark;
  color: $text-main;
  line-height: 1.6;
}

a {
  color: $text-main;
  text-decoration: none;
  transition: color $transition;

  &:hover {
    color: $accent;
  }
}

h1,
h2,
h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
}
