nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(11, 14, 17, 0.9);
  padding: 1rem 2rem;
  display: flex;
  gap: 2rem;
  z-index: 100;

  strong {
    letter-spacing: 2px;
  }
}

section {
  padding: 5rem 1.5rem;
  max-width: $max-width;
  margin: auto;
}
