/* *********************

    Z-INDEX STACK
    ─────────────
    200  → hamburger
    150  → mobile menu
    120  → backdrop overlay
    100  → navbar

********************** */

$bg-dark: #0b0e11;
$bg-card: #151a20;

$text-main: #f5f5f5;
$text-muted: #9aa4af;

$accent: #c6a15b;

$max-width: 1200px;
$transition: 0.3s ease;

:root {
  --bg: #0b0e11;
  --card: #151a20;
  --text: #f5f5f5;
  --muted: #9aa4af;
  --accent: #c6a15b;
}

[data-theme="light"] {
  --bg: #f7f7f7;
  --card: #ffffff;
  --text: #121212;
  --muted: #555;
}
