@use "variables";

body {
  margin: 0;
  font-family: "Inter", system-ui, sans-serif;
  background: var(--bg);
  color: var(--text);
  transition:
    background 0.3s ease,
    color 0.3s ease;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100dvh;
}
